#body{
    margin: 0;
    background-color: antiquewhite;
    display: grid;
    grid-template-areas: 
    "tabelka"
    "wykres";
    overflow: hidden;
    justify-content: center;
}
#tabelka{
    grid-area: tabelka;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#wykres{
    grid-area: wykres;
    width: 800px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#tabela, th, td{
    border: 2px solid black;
    background-color: aqua;
    color: black;
    

}
td{
    display: block;
    gap: 1px;
}
